body {
    background-color: blue;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

h4 a {
    font-size: 20px;
}

h4 a, p a, div a {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
}

.h3Plans {
    text-align: left;
}

#plansSection {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

#todayPlan {
    width: 25%;
    margin: 0 auto;

}

.weekPlans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* justify-content:left; */
    padding-left: 0;
}

.weekPlans li {
    margin: 5px;
}

.planSunday {
    grid-column: 1/2;
    grid-row: 1/2;
}

.planMonday {
    grid-column: 2/3;
    grid-row: 1/2;
}

.planTuesday {
    grid-column: 3/4;
    grid-row: 1/2;
}

.planWednesday {
    grid-column: 4/5;
    grid-row: 1/2;
}

.planThursday {
    grid-column: 5/6;
    grid-row: 1/2;
}

.planFriday {
    grid-column: 6/7;
    grid-row: 1/2;
}

.planSaturday {
    grid-column: 7/8;
    grid-row: 1/2;
}

.planLi {
    background-color: rgb(209, 201, 201);
}

/* plan.html specific */

#foodItems {
    display: flex;
    width: 50%;
    flex-direction: row;
}

/* new_plan  */

#container .items {
    display: none;
}