

.nav {
    height: 45px;
    background-color:  #FFA500 ;
    color: white;
    /* box-shadow: 2px 2px 5px #FFA500; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
}
.nav li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

h4 a, p a, div a {
    color: black;
    text-decoration: none;
}

/* Background */
/* Credit to Chris Smith at https://codepen.io/chris22smith/pen/RZogMa */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,  #50C878 50%, rgb(255, 255, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/* index */
.hero-banner h1 {
    
}

#loginSect h1 + p {
    margin-top: 30px;
}

#loginSect p {
    font-weight: 500;
}

.mealPlanner {
    font-size: 38px;
    font-weight: 650;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
}

h1 p {
    
}

h1 .listy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h1 .headerStandout {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-variant: none;
    text-decoration: underline;
    margin-bottom: 12px;
}

/*  */
.hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
}

  
.hero-banner__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    position: absolute;
}

.hero-banner__image {
    border-radius: 10%;
    position: fixed;
    transform: rotate(-15deg);
    object-fit: fill;
    width: 600px;
    opacity: 86%;
}

.content {
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100vh; // Fake content height.
}

#body {
    background-color: #000;
    font-family: Arial;
    
}

* {
    box-sizing: border-box;
}


#loginSect {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 580px;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 1000; /* Ensure it's above other content */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

#loginSect p a {
    font-size: 20px;
}


a:visited {
    color: black;
}

ul {
    
}

li {
    list-style-type: none;
}

/* plans.html */
#plansSection h2, #goalSection h2, #foodSection h2, #planSection h2 {
    font-family: 'Signika', Arial, sans-serif;
    font-size: 28px;
    margin: 15px auto 30px auto;
    color: #FFA500;
}

.h3Plans {
    font-family: 'Signika', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    color: #F0F0F0;
}

#weekOnePlans {
    list-style: none;
}

#plansSection,#goalSection, #foodSection, #planSection {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: #222222;
    max-width: 1240px;
    height: 100vh;
    min-height: 800px;
}

#todayPlan {
    background-color: #FFA500;
}

#todayPlan:hover {
    background-color: #FFA500
}


.scroll {
    overflow-x: scroll;
    /* min-width: 400px; */
}

#weekOnePlans .noPlan, #weekTwoPlans .noPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPlan {
    background-color:#bebebe;
    text-align: center;
    max-height: 150px;
    line-height: 6px;
    min-width: 150px;
}

.noPlan:hover {
    background-color: rgb(189, 186, 186);
}

.noPlan {
    font-family: 'Signika', Arial, sans-serif;
    font-size: 14px;
}

.weekPlans, .daysOfTheWeek {
    display: grid;
    grid-template-columns: repeat(7, 160px);
    grid-template-rows: 1fr;
    gap: 10px;
    padding-left: 5px;
    padding-right: 10px;
    
}

.weekPlans .day {
    font-size: 16px;
    font-family: 'Signika', Arial, sans-serif;
    margin-bottom: 0px;
    color: #F0F0F0;
}

.weekPlans .date {
    font-size: 14px;
    font-family: 'Signika', Arial, sans-serif;
    margin-top: -8px;
    font-style: oblique;
    color: #F0F0F0;
}

.plansWeekItem {
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plansWeekItem:hover {
    transform: scale(1.07);
}

.planLi {
    background-color: #bebebe;
    text-align: left;
    line-height: 6px;
    min-width: 150px;
    min-height: 120px;
    border-radius: 10%;
}

.planLi:hover {
    background-color:#fdf6e9;
}

.planLi h4 {
    font-size: 20px;
    color: #fdf6e9;
}

.planLi p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div #macrosH4 {
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    padding: 6px;
    background-color: #F0F0F0;
    border: 1px solid #FFA500;
    box-shadow: 1px 1px #FFA500;
    width: 100px;

}

/* goal.html */
#goalSection {
}
#goalSection h2{
    
}
#goalMacros {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
    border-radius: 10%;
    padding: 20px;
    
}

#goalSection p{
    text-align: left;
    color: #000000;
}

#goalMacros a {
    text-align: center;
}

/* Scrollbar */
/* Custom scrollbar */
/* For Firefox */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #70706d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cfcfce;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFA500;
  }
  
  /* For Webkit (Chrome, Safari, etc.) */
  /* width */
  ::-moz-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-moz-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-moz-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-moz-scrollbar-thumb:hover {
    background: #555;
  }
/* plan.html specific */

#foodItems {
    display: flex;
    width: 50%;
    flex-direction: row;
}

/* new_plan  */

#container .items {
    display: none;
}

/* fooItems */
#accordion {
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
    max-width: 800px;
}
#accordion h3 {
    /* background-color: #ffffff; */
    border: #FFA500;
}

#accordion h3:hover {
    color: black;
}

#accordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: black;
    background-color: #FFA500;
}

@media screen and (min-width: 1250px) {
    .scroll {
        overflow-x:hidden;
        /* min-width: 400px; */
    }
}
