html {
    background-color: #F0F0F0;
}
#body {
    background-color: #F0F0F0;
    background-image: linear-gradient(orange, #F0F0F0);
    margin: 0 auto;
    text-align: center;
    justify-content: center; 
}

.nav {
    background-color: orange;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 3px 3px 30px orange;
}
.nav li a{
    color: rgb(0, 0, 0);
}
h4 a, p a, div a {
    color: black;
    text-decoration: none;
}

/* Background */
/* Credit to Chris Smith at https://codepen.io/chris22smith/pen/RZogMa */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(239, 155, 0) 50%, rgb(255, 255, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/* index */
#loginSect h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 24px;
}

#loginSect h1 + p {
    margin-top: 30px;
}

#loginSect p {
    font-weight: 500;
}

.mealPlanner {
    font-size: 38px;
    font-weight: 650;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
}

h1 p {
    
}

h1 .listy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h1 .headerStandout {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-variant: none;
    text-decoration: underline;
    margin-bottom: 12px;
}

#loginSect {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 580px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loginSect p a {
    font-size: 20px;
}


a:visited {
    color: black;
}

ul {
    
}

li {
    list-style-type: none;
}

/* plans.html */
#plansSection h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    margin: 15px auto 30px auto;
}

.h3Plans {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
}

#weekOnePlans {
    list-style: none;
}

#plansSection {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: #F0F0F0;
    max-width: 1240px;
    border-radius: 10px;
}

#todayPlan {
    /* background-color: rgb(245, 162, 162); */
    background-color: #7CB342;
}

#todayPlan:hover {
    background-color: #f8e8e8;
}

#todayLi {
    
}

.scroll {
    overflow-x: scroll;
    min-width: 400px;
}

#weekOnePlans .noPlan, #weekTwoPlans .noPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPlan {
    background-color: #bebebe;
    text-align: center;
    max-height: 150px;
    line-height: 6px;
    min-width: 150px;
}

.noPlan:hover {
    background-color: rgb(102, 102, 102);
}

.noPlan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.weekPlans, .daysOfTheWeek {
    display: grid;
    grid-template-columns: repeat(7, 160px);
    grid-template-rows: 1fr;
    gap: 10px;
    padding-left: 0;
    
}

.weekPlans .day {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}

.weekPlans .date {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -8px;
    font-style: oblique;
}

.plansWeekItem {
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plansWeekItem:hover {
    transform: scale(1.07);
}

.planLi {
    background-color: #bebebe;
    text-align: left;
    max-height: 150px;
    line-height: 6px;
    min-width: 150px;
}

.planLi:hover {
    background-color: rgb(102, 102, 102);
}

.planLi h4 {
    font-size: 20px;
    color: #fdf6e9;
}

.planLi p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div #macrosH4 {
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    padding: 6px;
    background-color: #F0F0F0;
    border: 1px solid rgb(252, 181, 131);
    box-shadow: 1px 1px orange;
    width: 100px;

}
/* plan.html specific */

#foodItems {
    display: flex;
    width: 50%;
    flex-direction: row;
}

/* new_plan  */

#container .items {
    display: none;
}