{% comment %} {% load django_bootstrap5 %} {% endcomment %}

<head>
    {% comment %} links for jquery, including datepicker widget {% endcomment %}
    <link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
 
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
 
    <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
</head>
{% comment %} Attribution to FatSecret!!!! {% endcomment %}
<a href="https://www.fatsecret.com">
    <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png" srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x" border="0"/>
</a>
<p>
    <a href="{% url 'meal_plans:index' %}">Meal Planner</a> -
    <a href="{% url 'meal_plans:plans' %}">Plans</a>
</p>

{% block content %}{% endblock content %}