{% comment %} {% load django_bootstrap5 %} {% endcomment %}

<head>
    {% comment %} links for jquery, including datepicker widget {% endcomment %}
    <link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
 
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
 
    <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
</head>

<p>
    <a href="{% url 'meal_plans:index' %}">Meal Planner</a> -
    <a href="{% url 'meal_plans:plans' %}">Plans</a>
</p>

{% block content %}{% endblock content %}