{% extends "meal_plans/base.html"%}
{% load django_bootstrap5 %}



{% block content %}
{{ form.media }}
<script>
    {% comment %} move tojs file- utilizes jQuery datepicker for anything with datepicker class {% endcomment %}
    $(function() {
        $(".datepicker").datepicker();
    });
</script>

<form action="{% url 'meal_plans:new_plan'%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for food_form in formset %}
        {{ food_form.as_table }}
    {% endfor %}
    <button name="submit">Add plan</button>
</form>

{% endblock content %}