{% extends "meal_plans/base.html"%}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{{ form.media }}

<div id="foodItemTemplate" style="display: none;">
    {{ formset.empty_form.as_table }}
</div>
<section id="newPlanSection">
    <h2>New Plan- good for you;)</h2>
<form action="{% url 'meal_plans:new_plan'%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Select food items</p>
    <div name="food_item" >
        {% for food_item in food_items %}
            <div class="foodItem" data-id="{{ food_item.id }}">{{ food_item.item }}</div>
        {% endfor %}
    </div>
    <div id="selectedDisplay"></div>
    <input type="hidden" id="selectedIds" name="selectedIds">
    <!-- <input id="myInput" type="text" placeholder="Search..">
    <input id = "submitCheck" type="button">Search</input> -->
    
    {{ formset.management_form }}
    <div id="foodItemContainer" class = "form-group">
    {% for food_form in formset %}
        {{ food_form.as_table }}
    {% endfor %} 
    </div>
    <button type="button" id="addItem">Add More Food Items</button>
    <button name="submit" class="btn btn-primary">Add plan</button>
</form>

<div id ="output">
</div>

<div id = "container" >
    {% for food_item in food_items %}
        <p class="items">{{ food_item }}</p>
    {% endfor %}
</div>
</section>


<style>
    #container .items {
    display: none;
}
</style>
<script>
    {% comment %} move tojs file- utilizes jQuery datepicker for anything with datepicker class {% endcomment %}
    $(function() {
        $(".datepicker").datepicker();
    });

    {% comment %} Adds select2 js function to select allowing selection of multiple items {% endcomment %}

    $(document).ready(function() {
        let selected = [];
        $(".foodItem").on('click', function() {
            let itemId = $(this).data('id');
            let itemName = $(this).text();

            selected.push(itemId);

            $("#selectedDisplay").append('<div>' + itemName + '</div>');
            $("#selectedIds").val(selected.join(','));
        })
    });

    
    document.addEventListener('DOMContentLoaded', function() {
        // variable to hold id of current form being added as well as length of formset
        let newFormCount = 0;
        document.getElementById("addItem").addEventListener("click", function () {
            // Sets the template of food form
            let templateForm = document.getElementById("foodItemTemplate").innerHTML;
    
            // Food form container
            let newFoodFormDiv = document.createElement("div");
    
            // Add the template to div
            newFoodFormDiv.innerHTML = templateForm;

        
            // Grab each element of the form to alter attributes
            newFoodFormDiv.querySelectorAll("input, textarea, label").forEach(function (element) {
                // Replace '__prefix__' with the new form count in id, for, and name attributes
                ["id", "for", "name"].forEach(function (attribute) {
                    if (element.getAttribute(attribute)) {
                        element.setAttribute(attribute, element.getAttribute(attribute).replace("__prefix__", newFormCount));
                    }
                });
            });

            newFormCount++;
    
            // Append newFoodFormDiv to the formset container
            document.getElementById("foodItemContainer").appendChild(newFoodFormDiv);
    
            // Update the form count for the formset
            updateFormsetFormCount();
        });
    
        // Function to update the form count for the formset
        function updateFormsetFormCount() {
            let totalFormsInput = document.getElementById("id_food_items-TOTAL_FORMS");

            // sets the value to newFormCount
            totalFormsInput.value = newFormCount;
        }

        // Search through foods - 
        let output = document.getElementById("output");
        let items = document.getElementsByClassName("items");
        document.getElementById("myInput").addEventListener("keyup", function(){
            let searchItem = document.getElementById("myInput").value;

            for (let item of items) {
                let food = item.textContent;
                for (let i = 0; i < searchItem.length; i++){
                    if (searchItem == " " ){
                        item.style.display = "none";
                    }
                    if (searchItem[i] == food[i]) {
                        item.style.display = "block";
                    }
                    else {
                        item.style.display = "none";
                        break;
                    };
                };
                };
             
        });
        document.addEventListener("click", function(){
            let searchItem = document.getElementById("myInput");

            if (searchItem && event.target != searchItem) {
                for (let item of items) {
                    item.style.display = "none";
                }
            };
        });

    });

    window.onload = function() {
            let urlParams = new URLSearchParams(window.location.search);
            let dateParam = urlParams.get('date');

            if (dateParam) {
                let datefield = document.querySelector('input[name="date"]');
                datefield.value = dateParam
            }
        }

</script>

{% endblock content %}

<!-- Check chatgpton last idea- changed select elemtn to div with inputs, give the inputs all the same name, then grab them in views by specifying the name given to them all -->

