{% extends "meal_plans/base.html" %}
{% load static %}

{% block content %}
<section id="plansSection">
    <h2>Your Meal Plans!</h2>

    <h3 class="h3Plans">Current week</h3>
    <ul id="weekOnePlans" class="weekPlans">
        {% for plan in planExists1 %}
            {% if plan == None %}
            <li class= "plan{{ day }} noPlan">
                No plan
            </li>
            {% elif today == plan.date %}
                <li class= "plan{{ plan.day_of_week }}" id = "todayLi">
                    <div class="planLi shadow p-3 mb-5 rounded" id="todayPlan">
                        <a href="{% url 'meal_plans:plan' plan.id %}">
                            <h4 class="fs-6">{{ plan.day_of_week }} </h4>
                            <p>{{ plan }}</p></a>
                        
                        <p><a href="{% url 'meal_plans:delete_plan' plan.id %}">delete plan</a></p>
                    </div>
                </li>
            {% else %}
            <li class= "plan{{ plan.day_of_week }}">
                <div class="planLi shadow p-3 mb-5 rounded">
                    <a href="{% url 'meal_plans:plan' plan.id %}">
                        <h4 class="fs-6">{{ plan.day_of_week }} </h4>
                        <p>{{ plan }}</p></a>
                    
                    <p><a href="{% url 'meal_plans:delete_plan' plan.id %}">delete plan</a></p>
                </div>
            </li>
            {% endif %}
        {% endfor %}

    </ul>

    <h3 class="h3Plans">Next Week</h3>
    <ul id="weekTwoPlans" class="weekPlans">
        {% for plan in planExists2 %}
        {% if plan == None %}
        <li class= "plan{{ day }}">
            No plan
        </li>
        {% else %}
        <li class= "plan{{ plan.day_of_week }}">
            <div class="planLi shadow p-3 mb-5 rounded">
                <a href="{% url 'meal_plans:plan' plan.id %}">
                <h4 class="fs-6">{{ plan.day_of_week }} </h4>
                <p>{{ plan }}</p></a>
                
                <p><a href="{% url 'meal_plans:delete_plan' plan.id %}">delete plan</a></p>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>   

    <a href="{% url 'meal_plans:new_plan' %}">Add plan</a>

    <input type="text" id="datepicker">

    <script>
        $(document).ready( function() {
        $( "#datepicker" ).datepicker({
            onSelect: function(date) {
                // Redirect to plans for the selected date
                window.location.href = "{% url 'meal_plans:plans_for_date' %}?date=" + date;
            }
        });

    });
    </script>
</section>

{% endblock content %}