{% extends "meal_plans/base.html" %}
{% load static %}

{% block content %}
<section id="plansSection">
    <h2>Your Meal Plans!</h2>

    <h3 class="h3Plans">Current week</h3>
    <div class="scroll">
        <ul class="weekPlans">
            <li class="day">Sunday</li>
            <li class="day">Monday</li>
            <li class="day">Tuesday</li>
            <li class="day">Wednesday</li>
            <li class="day">Thursday</li>
            <li class="day">Friday</li>
            <li class="day">Saturday</li>
            {% for date in week1Dates%}
            <li class="date">{{ date }}</li>
            {% endfor %}
        </ul>
        <ul id="weekOnePlans" class="weekPlans">
            {% for plan in planExists1 %}
                {% if plan.date %}
                    {% if today == plan.date %}
                        <li class= "plan{{ plan.day_of_week }}" id = "todayLi">
                            <div class="planLi shadow p-3 rounded plansWeekItem" id="todayPlan">
                                <a href="{% url 'meal_plans:plan' plan.id %}">
                                    <h4 id="macrosH4">Macros:</h4>
                                    <!-- <h4 class="fs-6">{{ plan.day_of_week }} </h4> -->
                                    <!-- <p>{{ plan }}</p>  -->
                                    <p>carbs: {{ plan.return_carbs }}</p>
                                    <p>protein: {{ plan.return_protein }}</p>
                                    <p>fat: {{ plan.return_fat }}</p>
                                </a>
                                <!-- <p><a href="{% url 'meal_plans:delete_plan' plan.id %}">delete plan</a></p> -->
                            </div>
                        </li>
                    {% else %}
                        <li class= "plan{{ plan.day_of_week }} ">
                            <div class="planLi shadow p-3 rounded plansWeekItem">
                                <a href="{% url 'meal_plans:plan' plan.id %}">
                                    <h4 id="macrosH4">Macros:</h4>
                                    <!-- <h4 class="fs-6">{{ plan.day_of_week }} </h4> -->
                                    <!-- <p>{{ plan }}</p> -->
                                    <p>carbs: {{ plan.return_carbs }}</p>
                                    <p>protein: {{ plan.return_protein }}</p>
                                    <p>fat: {{ plan.return_fat }}</p>
                                </a> 
                            </div>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="planLi plansWeekItem rounded">
                        <a href="{% url 'meal_plans:new_plan' %}?date={{ plan }}">
                        <p>no plan</p>
                        <p>Add Plan</p></a>
                    </li>
                {% endif %}

            {% endfor %}

        </ul>
    </div>
    <h3 class="h3Plans">Next Week</h3>
    <div class="scroll">
        <ul class="weekPlans">
            <li class="day">Sunday</li>
            <li class="day">Monday</li>
            <li class="day">Tuesday</li>
            <li class="day">Wednesday</li>
            <li class="day">Thursday</li>
            <li class="day">Friday</li>
            <li class="day">Saturday</li>
            {% for date in week2Dates%}
            <li class="date">{{ date }}</li>
            {% endfor %}
        </ul>
        <ul id="weekTwoPlans" class="weekPlans">
            {% for plan in planExists2 %}
            {% if plan.date %}
                    <li class= "plan{{ plan.day_of_week }} plansWeekItem">
                        <div class="planLi shadow p-3 rounded">
                            <a href="{% url 'meal_plans:plan' plan.id %}">
                                <h4 id="macrosH4">Macros:</h4>
                                <!-- <h4 class="fs-6">{{ plan.day_of_week }} </h4> -->
                                <!-- <p>{{ plan }}</p> -->
                                <p>carbs: {{ plan.return_carbs }}</p>
                                <p>protein: {{ plan.return_protein }}</p>
                                <p>fat: {{ plan.return_fat }}</p>
                            </a> 
                        </div>
                    </li>
            {% else %}
                <li class="planLi plansWeekItem rounded">
                    <a href="{% url 'meal_plans:new_plan' %}?date={{ plan }}">
                    <p>no plan</p>
                    <p>Add Plan</p></a>
                </li>
            {% endif %}

        {% endfor %}
        </ul>   
    </div>
    <p class="button"><a href="{% url 'meal_plans:new_plan' %}">Add plan</a></p>

</section>

{% endblock content %}