{% extends "meal_plans/base.html" %}
{% load static %}

{% block content %}

<h1>Plan for: {{ plan }}</h1>

<section id="foodItems">
    {% for fooditem in fooditems %}
    <section id ="foodGrid">
        {{ fooditem }}
        {{ fooditem.calories}}
        {{fooditem.carbohydrates}}
    </section>
    {% endfor%}
</section>

{% comment %} Change the view, so that the num of items is counted and sent to this pae, then set the {% endcomment %}

     


<p><a href="{% url 'meal_plans:delete_plan' plan.id%}">Delete plan</a></p>

{% endblock content %}

