{% extends "meal_plans/base.html" %}

<head>
    
</head>

{% block content %}

<h1>Plans for the week!</h1>

<ul>
    {% for plan in plans %}
    {% if plan.day_of_week == plan.current_day %}
        <li>
            <h3><a href="{% url 'meal_plans:plan' plan.id %}">{{ plan.current_day }}</a></h3>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'meal_plans:plan' plan.id %}">{{ plan }}</a>
        {{ plan.day_of_week }}
    </li>

    {% empty %}
        <li>No plans yet for this week!</li>
    {% endfor %}
</ul>

<a href="{% url 'meal_plans:new_plan' %}">Add plan</a>


{% endblock content %}